@using System.Linq
@using CadastroHabCMAS.Controllers
@using Domain.Enums
@model CadastroHabCMAS.ViewModel.CadastroCMASViewModels.LupaCadastradoViewModel

@{
    //TODO consertar cesta basica 
    ViewBag.Title = "Lupa";
    Layout = "_Layout";
}
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link href="~/css/site.css" rel="stylesheet">
    <style>
        body{
           background-color: #E8EEF1;
        }
        .form--cadastro{
          margin: 40px 40px 40px 40px;
        }
        div > label{
          color: black;
        }
        button{
          margin-top: 15px;
        }
        .h4{
        text-align: center;
        }
    </style>
</head>
<div class="form--cadastro">
    <p class="h4">Cadastros efetuados na SEMAS</p>
    <hr>
    
    <form class="needs-validation" novalidate asp-action="Lupa">
        <div class="form-row">
            <div class="col-md-3 mb-3">
                <label for="validationTooltip01">Quantidade:</label>
                <div class="input-group mb-3">
                    <input asp-for="CestaBasica.Quant" readonly class="form-control">
                    <input asp-for="CestaBasica.Id" hidden readonly class="form-control">
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <label for="validationTooltip01">Numero de Meses:</label>
                <div class="input-group mb-3">
                    <input asp-for="CestaBasica.NumeroMeses" readonly class="form-control">
                </div>
            </div>
        </div>
        @for (int i = 0; i < Model.Entregas.Count; i++)
        {
            <div class="form-row">
                <div class="col-md-3 mb-3">
                    <label for="validationTooltip01">Nome do Agente: </label>
                    <div class="input-group mb-3">
                        <input asp-for="Entregas[i].NomeAgente" class="form-control">
                    </div>
                </div>
                <div class="col-md-3 mb-3">
                    <label for="validationTooltip01">Unidade: </label>
                    <div class="input-group mb-3">
                        <select asp-for="Entregas[i].Unidade" class="form-select">
                            @foreach (var status in Enum.GetValues(typeof(Unidade)))
                            {
                                <option value="@status">@status</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-md-3 mb-3">
                    <label for="validationTooltip01">Status da Entrega: </label>
                    <div class="input-group mb-3">
                        <select asp-for="Entregas[i].EntregaStatus" class="form-select">
                            @foreach (var status in Enum.GetValues(typeof(StatusEntrega)))
                            {
                                <option value="@status">@status</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-3 mb-3">
                    <label for="validationTooltip01">Data da Entrega: </label>
                    <div class="input-group mb-3">
                        <input type="date" asp-for="Entregas[i].DataEntrega" class="form-control">
                        <input asp-for="Entregas[i].Id"  readonly class="form-control">
                    </div>
                </div>
            </div>
        }
        <input class="btn  btn-outline-success" type="submit"/>
        <input class="btn  btn-outline-warning" type="reset"/>
    </form>

    @section Scripts
    {
        <script>
          /*      let urlPessoaEndereco;
                function init(url) {
                    urlPessoaEndereco = url;    
                }
                
                $(document).ready(function() {
                  let url = "@Url.Action(nameof(CadastroCmasController.PV_Lupa))";                
                  init(url);
                  carregarEntregas();
                });
                
                function carregarEntregas() {
                    console.log(urlPessoaEndereco)
                    let cesta = document.getElementById("cesta").value;
                    console.log(cesta)
                    $.ajax({      
                        type: "POST",
                        url: urlPessoaEndereco,
                        data: {"CestaId":cesta},
                        success: function(response) {
                               $('#ToChange').html(response)                   
                        }
                    });    
                }   */
                </script>
    }

</div>