@using Domain.Enums
@model CadastroHabCMAS.ViewModel.CadastroCMASViewModels.RelatorioControleViewModel


@{
    Layout = null;
}

<!DOCTYPE html>
@if (Model is not null)
{
    <html>
    <head>
        <title>Relatório de controle</title>
        <style>
        .center{
            margin: 0;
            width: 100%;
            padding: 10px;
        }

        table, th, td{
            margin: 5px;
            border: 1px solid black;
        }
        td{
            overflow: hidden; 
            text-overflow: ellipsis; 
            word-wrap: break-word;
        }
        hgroup{
            text-align: center;
            margin: auto;
            width: 50%;
            padding: 10px;
        }
        table{
            table-layout: fixed;
        }
    </style>
    </head>
    <body>

    <hgroup>
        <h3>CONTROLE DOS KITS ALIMENTAÇÃO - @Model.Ano</h3>
        <h5>SECRETARIA DE ASSITENCIA SOCIAL (SEMAS)</h5>
    </hgroup>
    <div class="center">
        <table>
            <tr>
                <td>Departamento</td>
                <td>Nome</td>
                <td>CPF</td>
                <td>RG</td>
                <td>Data Entrega</td>
            </tr>
            @if (Model.PessoaEnderecos != null)
            {
                @for (int i = 0; i < Model.PessoaEnderecos.Count; i++)
                {
                    @if (Model.PessoaEnderecos[i].Endereco != null)
                    {
                        @if (Model.PessoaEnderecos[i].Endereco.Cesta != null)
                        {
                            @if (Model.PessoaEnderecos[i].Endereco.Cesta.Entregas != null)
                            {
                                <tr>
                                    <td>@Model.Unidade</td>
                                    <td>@Model.PessoaEnderecos[i].Pessoa.Nome</td>
                                    <td>@Model.PessoaEnderecos[i].Pessoa.Cpf</td>
                                    <td>@Model.PessoaEnderecos[i].Pessoa.Rg</td>
                                    <td>
                                        @for (int j = 0; j < Model.PessoaEnderecos[i].Endereco.Cesta.Entregas.Count; j++)
                                        {
                                            @if (Model.PessoaEnderecos[i].Endereco.Cesta.Entregas.ElementAt(j).EntregaStatus == StatusEntrega.Entregue)
                                            {
                                                @Model.PessoaEnderecos[i].Endereco.Cesta.Entregas.ElementAt(j).NomeAgente
                                                <b>:</b>
                                                @Model.PessoaEnderecos[i].Endereco.Cesta.Entregas.ElementAt(j).DataEntrega?.ToShortDateString()
                                                ;
                                                <br>
                                                <hr>
                                            }
                                        }
                                        @if (Model.PessoaEnderecos[i].Endereco.Cesta.Demandas is not null)
                                        {
                                            @Model.PessoaEnderecos[i].Endereco.Cesta.Demandas
                                        }
                                        else
                                        {
                                            <b>Demanda nao cadastrada</b>
                                        }
                                        <hr>
                                    </td>
                                </tr>
                            }
                        }
                    }
                }
            }
        </table>
        <hgroup>
            <h4>Av. Antônio Aires Primo nº 2138, Centro</h4>
            <h4>77 500 000 Porto Nacional – TO</h4>
            <h4>Fone: 63 3363 5774 E-mail: semas.portonacional.to@gmail.com</h4>
        </hgroup>
    </div>
    </body>
    </html>
}